name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: ['**']

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    name: "Tests [${{ matrix.os }}]"
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update -y && \
          sudo apt-get install -y ruby zsh shunit2
        if: ${{ runner.os == 'Linux' }}
      - name: Install dependencies
        run: brew install shunit2
        if: ${{ runner.os == 'macOS' }}
      - name: Configure env
        run: echo "SHUNIT2=$(command -v shunit2 2>/dev/null)" >> $GITHUB_ENV
      - name: Run tests
        run: make test
